venv

__pycache__

.env

.env.test

package.json
package-lock.json
node_modules/dotenv/README.md
node_modules/dotenv/README-es.md
node_modules/dotenv/LICENSE
node_modules/dotenv/lib/main.js
node_modules/dotenv/lib/main.d.ts
node_modules/.package-lock.json
node_modules/dotenv/CHANGELOG.md
node_modules/dotenv/config.d.ts
node_modules/dotenv/config.js
node_modules/dotenv/lib/cli-options.js
node_modules/dotenv/lib/env-options.js
vars.env
